@model IEnumerable<Flicks4u.Models.Usuario>

@{
    ViewData["Title"] = "Index";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<h1>Index</h1>

<div class="col-4 p-0 justify-content-end">
    <form asp-controller="Usuarios" asp-action="Index">
        <span class="btn-group">
            <input class="form-control" type="text" name="nombre">
            <input class="p-1 ml-2 btn btn-sm btn-info" type="submit" value="Buscar" />
        </span>
    </form>
</div>

<p></p>
<p></p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrasenia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoElectronico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Esactivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoSubscripcion.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarjeta.NumeroTarjeta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contrasenia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorreoElectronico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Esactivo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoSubscripcion.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tarjeta.NumeroTarjeta)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    @if (pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">
            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge==pager.CurrentPage? "active":"")">
                    <a class="page-link" asp-controller="Usuarios" asp-action="Index" asp-route-pg="@pge">@pge</a>
                </li>
            }
        </ul>
    }
</div>